#gameContainer {
  position: relative;
  height: 300px;
}

.sprite {
  text-align: center;
  background-color: green;
  height: 100px;
  width: 8%;
  position: absolute;
  top: 100px;
  left: 10%;
  overflow: hidden;

}

.character {
  text-align: center;
  background-color: green;
  height: 150px;
  width: 15%;
  position: absolute;
  top: -500px;
  left: 50%;
  overflow: hidden;
}

#sprite0 {
  background-image: url("../images/Bender_1.png");
  background-size: cover;
  background-position: center;
}

#characterStatsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.quarterWidth {
  width: 25%;
  text-align: left;
  background-color: #4aaaa5;
  border: 1px solid black;
}