#gameContainer {
  position: relative;
  height: 400px;
  background-image: url("../images/arena.jpg");
  background-size: cover;
}

.character {
  text-align: center;
  /*background-color: green;*/
  height: 150px;
  width: 15%;
  position: absolute;
  top: -500px;
  left: 50%;
  overflow: hidden;
}

.spriteImage {
  height: 100%;
}


#characterStatsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.quarterWidth {
  width: 25%;
  text-align: left;
  background-color: #4aaaa5;
  border: 1px solid black;
}